In [1]:
import os
import sqlite3
import pandas as pd
from fuzzywuzzy import process

In [2]:
conn = sqlite3.connect("../data/db/NBA-L2M.db")
c = conn.cursor()

In [3]:
reports = pd.read_sql("SELECT * FROM reports", conn)
reports.replace({'away':{'PHO': 'PHX'}})
reports.head(2)

,report,away,home,date,season,away_score,home_score,winner
0,L2M-DEN-MIN-11-03-16,DEN,MIN,2016-11-02 00:00:00,2016-17 NBA Regular Season,NaN,NaN,NaN
1,L2M-DEN-MIN-11-03-16,DEN,MIN,2016-11-02 00:00:00,2016-17 NBA Regular Season,NaN,NaN,NaN

In [4]:
calls = pd.read_sql("SELECT * FROM calls", conn)
calls.head(2)

,report,period,time,call,committing,disadvantaged,decision,committing_team,disadvantaged_team
0,L2M-DEN-MIN-11-03-16,Period,Time,Call Type,Committing Player,Disadvantaged Player,Review Decision,NaN,MIN
1,L2M-DEN-MIN-11-03-16,,,,,,,NaN,NaN

In [7]:
gms = pd.read_sql("SELECT * FROM 'scheduled-gms'", conn)
gms.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Notes
0,Thu Jun 1 2017,9:00 pm,Cleveland Cavaliers,91,Golden State Warriors,113,Box Score,None,None
1,Sun Jun 4 2017,8:00 pm,Cleveland Cavaliers,113,Golden State Warriors,132,Box Score,None,None
2,Wed Jun 7 2017,9:00 pm,Golden State Warriors,118,Cleveland Cavaliers,113,Box Score,None,None
3,Fri Jun 9 2017,9:00 pm,Golden State Warriors,116,Cleveland Cavaliers,137,Box Score,None,None
4,Mon Jun 12 2017,9:00 pm,Cleveland Cavaliers,120,Golden State Warriors,129,Box Score,None,None